<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initical-scale=1.0">
</head>
<style type="text/css">
   *{
    padding: 0px;
    margin: 0px;
   }
   .contenter
{
 font-family: Tahoma, Helvetica, Arial;
 background-color: rgb(240,240,240);

}

div.set1{

margin-left: 20px;
margin-right: 20px;
margin-top: 20px;
}
p{
  font-size: 15px;
}
p.title{
  font-size: 20px;
  font-weight: bold;
}
</style>
<body >
  <div>
    <h1 align="center" style="color: red;"></h2>
  </div>
  <div class="set1">
      <p>&nbsp&nbsp空气质量按照空气质量指数大小分为六级，相对应空气质量的六个类别，指数越大、级别越高说明污染的情况越严重，对人体的健康危害也就越大，从一级优，二级良，三级轻度污染，四级中度污染，直至五级重度污染，六级严重污染。</p>
  </div>
  <div class="set1">
         <p class="title" style="color: rgb(51,200,37);">一级</p>
         <p>空气污染指数：0-50</p>
         <p>空气质量：优</p>
         <p>&nbsp&nbsp建议：空气质量令人满意，基本无空气污染，各类人群可正常活动。</p>
        <div style="margin-top: 10px;"><hr style="height:1px;border:none;border-top:1px solid rgb(217,217,217);" /></div>

  </div>
<div class="set1">
         <p class="title" style="color: rgb(154,205,50);">二级</p>
         <p>空气污染指数：51-100</p>
         <p>空气质量：良</p>
         <p>&nbsp&nbsp建议：空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响，极少数异常敏感人群应减少户外活动。</p>
        <div style="margin-top: 10px;"><hr style="height:1px;border:none;border-top:1px solid rgb(217,217,217);" /></div>

  </div>
<div class="set1">
         <p class="title" style="color: rgb(222,93,0);">三级</p>
         <p>空气污染指数：101-150</p>
         <p>空气质量：轻度污染</p>
         <p>&nbsp&nbsp建议：易感人群症状有轻度加剧，健康人群出现刺激症状。儿童、老年人及心脏病、呼吸系统疾病患者应减少长时间、高强度的户外锻炼。</p>
        <div style="margin-top: 10px;"><hr style="height:1px;border:none;border-top:1px solid rgb(217,217,217);" /></div>

  </div>
  <div class="set1">
          <p class="title" style="color: rgb(212,0,0);">四级</p>
         <p>空气污染指数：151-200</p>
         <p>空气质量：中度污染</p>
         <p>&nbsp&nbsp建议：可能对健康人群心脏、呼吸系统有影响，建议疾病患者避免长时间、高强度的户外锻练，一般人群适量减少户外运动。</p>
        <div style="margin-top: 10px;"><hr style="height:1px;border:none;border-top:1px solid rgb(217,217,217);" /></div>

  </div>
<div class="set1">
         <p class="title" style="color: rgb(153,0,169);">五级</p>
         <p>空气污染指数：201-300</p>
         <p>空气质量：重度污染</p>
         <p>&nbsp&nbsp建议：心脏病和肺病患者症状显著加剧，运动耐受力降低，健康人群普遍出现症状，建议儿童、老年人和心脏病、肺病患者应停留在室内，停止户外运动，一般人群减少户外运动。</p>
        <div style="margin-top: 10px;"><hr style="height:1px;border:none;border-top:1px solid rgb(217,217,217);" /></div>

  </div>
<div class="set1">
         <p class="title" style="color: rgb(129,0,38);">六级</p>
         <p>空气污染指数：>300</p>
         <p>空气质量：严重污染</p>
         <p>&nbsp&nbsp建议：健康人群运动耐受力降低，有明显强烈症状，提前出现某些疾病，建议儿童、老年人和病人应当留在室内，避免体力消耗，一般人群应避免户外活动。</p>
  </div>


</body>
</html>
