<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  <meta name="viewport" content="width=device-width initical-scale=1.0">
  <style type="text/css">
  p{
    font-size: 15px;
  }
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 16.0px Menlo; color: #000000; min-height: 19.0px}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 16.0px 'PingFang SC'; color: #000000}

    span.s1 {font-variant-ligatures: no-common-ligatures}
    span.s2 {font: 16.0px Menlo; font-variant-ligatures: no-common-ligatures}
  </style>
</head>
<body>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s2"><span class="Apple-converted-space">   </span>1</span><span class="s1">、金银花有疏散风热功效，金银花水煎取汁凉后与蜂蜜冲调可解暑</span><span class="s2">;</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">2</span><span class="s1">、吃过于肥腻的食物后喝茶，能刺激自律神经，促进脂肪代谢</span><span class="s2">;</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">3</span><span class="s1">、蚕豆富含蛋白质不含胆固醇，营养价值高，多食可预防心脑血管疾病</span><span class="s2">;</span></p>
<p class="p2"><span class="s1">　　</span><span class="s2">4</span><span class="s1">、做完家务，双手易变得干燥粗糙，用醋泡手</span><span class="s2">10</span><span class="s1">分钟可护肤</span><span class="s2">;</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">5</span><span class="s1">、多吃菌类食物。可调整体内菌群，提升机体抵抗力</span><span class="s2">;</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">6</span><span class="s1">、夏日足部容易出汗，每天用淡盐水泡脚可有效应对</span><span class="s2">“</span><span class="s1">汗脚</span><span class="s2">”;</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">7</span><span class="s1">、多吃薏米小豆粥等燥湿健脾的事物，以防暑湿</span><span class="s2">;</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">8</span><span class="s1">、夏日游泳后晒晒太阳，可防肌肤劳损等疾病发生</span><span class="s2">;</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">9</span><span class="s1">、夏季枕头易受潮滋生霉菌，时常曝晒枕心有利于健康</span><span class="s2">;</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">10</span><span class="s1">、早餐多食西红柿、柠檬等酸性的蔬菜和水果，益于养肝</span><span class="s2">;</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">11</span><span class="s1">、葡萄含有睡眠辅助激素，常食有助睡眠</span><span class="s2">;</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">12</span><span class="s1">、吃酸性物质马上刷牙会损坏牙齿健康</span><span class="s2">;</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">13</span><span class="s1">、将白醋喷洒在菜板上，放半小时后再洗，不但能杀菌，还能除味</span><span class="s2">;</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">14</span><span class="s1">、龙眼营养丰富，有健脑益智等功效，但多食易滞气</span><span class="s2">;</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">15</span><span class="s1">、新购的瓷制餐具放入醋水内煮</span><span class="s2">2</span><span class="s1">、</span><span class="s2">3</span><span class="s1">小时，可去除微量铅。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">16</span><span class="s1">、皮鞋皮包放久了发霉时，可用软布蘸酒精加水</span><span class="s2">(1</span><span class="s1">：</span><span class="s2">1)</span><span class="s1">溶液擦拭即可。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">17</span><span class="s1">、蜡烛冷冻</span><span class="s2">24</span><span class="s1">小时再插到生日蛋糕上点燃时不会流下烛油。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">18</span><span class="s1">、过多食用生葱蒜会刺激口腔肠胃</span><span class="s2">,</span><span class="s1">不利健康</span><span class="s2">,</span><span class="s1">最好加一点醋再食用。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">19</span><span class="s1">、遇雷雨时汽车内是躲避雷击的理想地方。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">20</span><span class="s1">、每天早晨用豆腐摩擦面部几分钟，坚持一个月面部会变得白嫰滋润。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">21</span><span class="s1">、用水质蜡水直接喷在原木家具表面再用干布抹干，家具会光洁明亮。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">22</span><span class="s1">、加酶洗衣剂放在温水中需要较长的分解时间才能使洗衣效果更佳。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">23</span><span class="s1">、豆浆不含胆固醇，能防止动脉硬化延缓衰老。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">24</span><span class="s1">、原木家具表面有刮痕，可先涂上鱼肝油，晾干后用湿布擦拭即可。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">25</span><span class="s1">、头痛时把苹果磨成泥状涂在纱布上帖在头痛处症状可减轻。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">26</span><span class="s1">、怎样防止脱发</span><span class="s2">?</span><span class="s1">勤洗头，勿用碱性肥皂。勤梳头，要用梳子。忌用化学染发。少吃过辣、过酸。常保持精神愉快。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">27</span><span class="s1">、怎样防止面部起皱纹</span><span class="s2">?</span><span class="s1">洗脸水宜</span><span class="s2">30</span><span class="s1">至</span><span class="s2">40</span><span class="s1">度。经常按摩面部。晚上睡前适当涂些营养霜。勿长期用单侧牙吃饭。枕头勿太高。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　少做以下动作：托腮、挖鼻孔、剔牙、咬嘴唇、吹口哨、斜眼歪嘴、用吸管吸饮料。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">28</span><span class="s1">、怎样防止失眠</span><span class="s2">?</span><span class="s1">睡前少讲太多话，忌饮浓茶、睡前勿用脑、用热水加醋洗脚。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">29</span><span class="s1">、妇女经期有六忌：忌寒冷着凉、忌吃浓茶、过辣，忌饮冷食，忌盆浴</span><span class="s2"> </span><span class="s1">和游泳、忌同房、忌过度疲劳。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">30</span><span class="s1">、怎样才能生一个智力较高的宝宝</span><span class="s2">?</span><span class="s1">晚婚晚育。孕妇忌吃辣。孕妇保持乐观心情。孕妇和哺乳期妇女忌饮可乐饮料和咖啡浓茶，因这些饮料中含有咖啡因，咖啡因能诱发后代畸形和损伤胎儿脑力。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">31</span><span class="s1">、怎样使孩子更聪明</span><span class="s2">?</span><span class="s1">科学证明，如果让孩子常吃鹅蛋、鸽蛋、鱼头，就会更聪明。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">32</span><span class="s1">、哪些人不能睡午觉</span><span class="s2">?</span><span class="s1">经常失眠和体重超标准或</span><span class="s2">65</span><span class="s1">岁以上的人，心脏病和心肌梗塞的病人。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">33</span><span class="s1">、哪些病人不能过性生活</span><span class="s2">?</span><span class="s1">患有传染病、性病、大病初愈或病中，妇女产前产后和经期，心脏病、高血压、肝炎、肾炎、肿瘤病人。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">34</span><span class="s1">、哪些人不能吃糖</span><span class="s2">?</span><span class="s1">胃病、肾病、高血、高血脂、糖尿病、肝炎、神经衰弱等病人。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">35</span><span class="s1">、老年保健有九忌：忌过饱、过甜、过咸、厚腻、烟酒、大喜大怒、久蹲、懒散、便秘。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">36</span><span class="s1">、哪些人不宜吃啤酒</span><span class="s2">?</span><span class="s1">胃炎及溃疡病人、哺乳期妇女、秘尿系统结石和肝病人、儿童。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">37</span><span class="s1">、哪些人不宜吃螃蟹</span><span class="s2">?</span><span class="s1">发热、胃病及溃疡、肝炎、腹泻、胆囊炎、胆结石等病人。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">38</span><span class="s1">、儿童生活有哪四不宜</span><span class="s2">?</span><span class="s1">不宜戴有色镜、不宜睡弹簧床、不宜穿高跟鞋、不宜烫发。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">39</span><span class="s1">、用矮桌进食有啥害</span><span class="s2">?</span><span class="s1">积食滞气、影响消化。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">40</span><span class="s1">、按电器开关或拿插头为什么最好用右手</span><span class="s2">?</span><span class="s1">因人的心脏在左侧，如遇漏电时用左手极危险</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">41</span><span class="s1">、刚出炉的面包不宜马上食用</span><span class="s2">!</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">42</span><span class="s1">、远离充电座，人体应远离</span><span class="s2">30</span><span class="s1">公分以上，切忌放在床边。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">43</span><span class="s1">、天天喝八杯水。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">44</span><span class="s1">、每天十杯水，膀胱癌不会来。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">45</span><span class="s1">、白天多喝水，晚上少喝水。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">46</span><span class="s1">、一天不要喝两杯以上的咖啡，喝太多易导致失眠，胃疼。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">47</span><span class="s1">、多油脂的食物少吃，因为得花</span><span class="s2">5~7</span><span class="s1">小时去消化，并使脑中血液集中到大肠，易昏昏欲睡。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">48</span><span class="s1">、下午五点后，大餐少少吃，因为五点后身体不需要那么多能量。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">49</span><span class="s1">、</span><span class="s2">10</span><span class="s1">种吃了会快乐的食物：深海鱼、香蕉、葡萄柚、全麦面包、菠菜、大蒜、番瓜、低脂牛奶、鸡肉、樱桃。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">50</span><span class="s1">、睡眠不足会变笨，一天须八小时睡眠，有午睡习惯较不会老。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">51</span><span class="s1">、隐形眼镜不宜天天戴</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">52</span><span class="s1">、领带过紧</span><span class="s2"> </span><span class="s1">容易眼疲劳</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">53</span><span class="s1">、晚上洗发易头疾</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">54</span><span class="s1">、药前药后禁蔬果</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">55</span><span class="s1">、喝酒御寒不可取</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">56</span><span class="s1">、为什么常吃烘烤食物易患癌：</span><span class="s2"> </span><span class="s1">因烘烤食物时燃料中会产生大量的二氧化碳、二氧化硫等致癌物质，这些物质会遗留在食物上，所以人吃多了极易患癌。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">57</span><span class="s1">、吃哪些蔬菜易中毒：</span><span class="s2">1)</span><span class="s1">发芽、发青的土豆有毒。</span><span class="s2"> 2)</span><span class="s1">鲜黄花菜</span><span class="s2">(</span><span class="s1">即金针菜</span><span class="s2">)</span><span class="s1">有毒。</span><span class="s2"> 3)</span><span class="s1">腌制未透的菜。</span><span class="s2"> 4)</span><span class="s1">隔夜熟白菜、熟韭菜会将菜中的硝酸盐转化为亚硝酸盐，亚硝酸盐是强致癌物，熟白菜、熟韭菜放久了切勿吃。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">58</span><span class="s1">、儿童不宜吃皮蛋：</span><span class="s2"> </span><span class="s1">皮蛋在加工过程中加入一种氧化铅的物质，此物有毒，影响智力。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">59</span><span class="s1">、烂姜不宜吃：</span><span class="s2"> </span><span class="s1">烂姜有极毒，能坏死肝细胞。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">60</span><span class="s1">、</span><span class="s2"> </span><span class="s1">豆油不可生吃：生豆油中含有苯，苯能破坏人的造血系统，所以做凉拌菜和饺陷不宜用生豆油，如将豆油下锅熬熟，苯就蒸发了。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">61</span><span class="s1">、</span><span class="s2"> </span><span class="s1">久煮的水不能吃：隔夜开水和经久煮的水以及保温瓶中非当天的开水中，均含有一种叫亚硝酸铵的物质，此物是强致癌物。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">62</span><span class="s1">、</span><span class="s2"> </span><span class="s1">鱼、肉烧焦吃不得：鱼、肉等荤菜，烧焦就会产生一种叫苯丙比的致癌物质。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">63</span><span class="s1">、</span><span class="s2"> </span><span class="s1">新婚男子莫吃可乐：可口可乐，能将人体内精子杀死，所以婚后男子要想孩子切莫吃。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">64</span><span class="s1">、</span><span class="s2"> </span><span class="s1">吃嫩炒猪肝有害：猪的肝脏是解毒器官，肝内均含少量毒素，如不炒透，吃了有害。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">65</span><span class="s1">、</span><span class="s2"> </span><span class="s1">哪些水果忌海味</span><span class="s2">? </span><span class="s1">柿子、葡萄石榴、山查、香蕉，这些水果中含有鞣酸。鞣酸与海味中的钙结合，会形成一种难以消化的物质，而起肚疼、呕吐、恶心、腹泻等现象。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">66</span><span class="s1">、</span><span class="s2"> </span><span class="s1">哪些食物易使皮肤变黑</span><span class="s2">?</span><span class="s1">常吃肝脏、肾、赤豆、黑芝麻、乌鱼、浓咖啡、易使皮肤变黑。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">67</span><span class="s1">、</span><span class="s2"> </span><span class="s1">哪些食物易使皮肤增白</span><span class="s2">?</span><span class="s1">一般为黄绿色食品如芹菜、菠菜、洋葱、苹果、萝卜等。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">68</span><span class="s1">、</span><span class="s2"> </span><span class="s1">吃豆浆有哪些四忌</span><span class="s2">?</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">1)</span><span class="s1">忌吃红糖</span><span class="s2"> 2)</span><span class="s1">忌冲鸡蛋</span><span class="s2"> 3)</span><span class="s1">忌不熟</span><span class="s2"> 4)</span><span class="s1">忌用保温瓶装。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">69</span><span class="s1">、吃牛奶有哪五忌</span><span class="s2">?</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">1)</span><span class="s1">忌加红糖</span><span class="s2"> 2)</span><span class="s1">忌冰冻</span><span class="s2"> 3)</span><span class="s1">忌掺开水</span><span class="s2"> 4)</span><span class="s1">忌空服</span><span class="s2"> 5)</span><span class="s1">忌同补药同服。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">70</span><span class="s1">、油渣、锅巴不宜吃：油渣、锅巴中含有苯丙比，苯丙比是致癌物质，所以不宜吃。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">71</span><span class="s1">、</span><span class="s2"> </span><span class="s1">久煮的水不能吃：隔夜开水和经久煮的水以及保温瓶中非当天的开水中，均含有一种叫亚硝酸铵的物质，此物是强致癌物。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">72</span><span class="s1">、发生触电、雷击如何处理</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　触电和雷击是电流贯穿人体的一种意外损伤，对人的致命威胁是造成心跳和呼吸停止。遇到触电情况，关键是尽快使触电者脱离电源，可关闭电闸，拉开保险盒、拉下总电闸等。用干木棍或竹竿挑开电线，千万不要用手拉触电者。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　触电者脱离电源后，应立即就地检查，如呼吸、心跳停止、应立即做人工呼吸及胸外心脏按摩。在送往医院的途中也不要停止抢救措施。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　雷击现场抢救，应对患者及时施行人工呼吸和胸外心脏按摩，不能轻易放弃抢救病人生命的机会。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">73</span><span class="s1">、鼻出血怎么办</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　发生鼻出血时，首先要使病人镇定安静。让病人半卧，但头不要后仰，用拇指和食指捏住鼻翼可初步止血，也可用清洁棉球塞鼻压迫止血，将滴鼻药水湿润棉球塞入鼻孔则效果更好。用青艾叶揉成团塞鼻孔用指甲按压鼻唇沟人中穴也有止血作用，在采取上述措施的同时，可用冷湿毛巾敷在患者的额头部。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　如果经常鼻出血，应去医院诊治。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">74</span><span class="s1">、溺水怎样抢救</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　遇到有人溺水，可下水用左手从溺水者背后左腋窝伸到前面抓住其右手，或托住其头部，仰游上岸，上岸后应立即清除溺水者口内泥沙、水草、假牙之类的异物。救护者可单膝跪地，另一只腿屈立，将溺水者附卧膝上使头下垂，轻拍其背，以将其口中、胃内及气管里的水压出。如果溺水者已停止呼吸，应立即施行人工呼吸和胸外心脏按摩。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">75</span><span class="s1">、煤气中毒这样急救</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　发现煤气中毒，应立即打开门窗，迅速将病人抬到空气新鲜的场所，解开病人的衣扣腰带，使其呼吸畅通，还要注意保暖，防止继发感染。中毒严重的应立即送医院抢救。呼吸心跳停止者，应立即进行口对口人工呼吸和心脏按摩，并急送医院抢救。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　救护人员在进行抢救时，为防止自身中毒，可根据一氧化碳的比重比空气轻的特点，匍匐进入现场，将中毒这背负而出。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">76</span><span class="s1">、烫伤、烧伤怎么办</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　小面积水烫伤、火烧伤可按下述方法处理：</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　伤后仅有红肿、红斑、灼痛的，可立即将烫伤部位放在冷水中浸泡半小时或更长时间，泡后擦干，涂一些油类即可，不必包扎。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　伤口出现水泡、疼痛的，注意不要把水泡弄破。如水泡过大，可用针尖在火上烧一下，凉后用淡盐水洗净伤面，从水泡下缘刺破放水，让皮仍盖在伤面上，涂上烫伤膏加以包扎即可。若伤势较重或面积较大，应立即请医生诊治。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">77</span><span class="s1">、假如你身边的人突发心脏病，应如何抢救</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">( 1 )</span><span class="s1">让病人躺下</span><span class="s2">;( 2 )</span><span class="s1">找出病人身上可能带有的急救药品给病人服下</span><span class="s2">;( 3 )</span><span class="s1">尽快给急救中心打电话，迅速送医院抢救。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">78</span><span class="s1">、假如有人外伤骨折，应如何抢救</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">( 1 )</span><span class="s1">不乱搬动病人，保持骨折肢体原位</span><span class="s2">;( 2 )</span><span class="s1">尽快就近找木板或纸板把骨折肢体固定，急送医院抢救。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">79</span><span class="s1">、老人忌做的几个危险动作</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　忌说话快速</span><span class="s2">;</span><span class="s1">忌吃饭过快</span><span class="s2">;</span><span class="s1">忌站着穿裤</span><span class="s2">;</span><span class="s1">忌用力排便</span><span class="s2">;</span><span class="s1">忌过分仰脖</span><span class="s2">;</span><span class="s1">忌猛然回头</span><span class="s2">;</span><span class="s1">忌裤带过紧。</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">80</span><span class="s1">、嘴唇干裂吃点啥</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　粮谷类</span><span class="s2">;</span><span class="s1">动物性食物</span><span class="s2">;</span><span class="s1">富含胶质的食物</span><span class="s2">;</span><span class="s1">坚果类食物</span><span class="s2">;</span><span class="s1">菠菜</span><span class="s2">;</span><span class="s1">水果</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">81</span><span class="s1">、常吃宵夜会得胃癌，因为胃得不到休息</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">82</span><span class="s1">、一个星期只能吃四颗蛋，吃太多对身体不好</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">83</span><span class="s1">、鸡屁股含有致癌物</span><span class="s2">, </span><span class="s1">不要吃较好</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">84</span><span class="s1">、饭后吃水果是错误的观念</span><span class="s2">. </span><span class="s1">应是饭前吃水果</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">85</span><span class="s1">、女生月经来时不要喝绿茶</span><span class="s2">. </span><span class="s1">反正茶类不要喝就对了</span><span class="s2">.</span><span class="s1">多吃可以补血的东西</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">86</span><span class="s1">、喝豆浆时不要加鸡蛋及糖</span><span class="s2">. </span><span class="s1">也不要喝太多</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">87</span><span class="s1">、空腹时不要吃蕃茄</span><span class="s2">, </span><span class="s1">最好饭后吃</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">88</span><span class="s1">、早上醒来</span><span class="s2">.</span><span class="s1">先喝一杯水</span><span class="s2">. </span><span class="s1">预防结石</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">89</span><span class="s1">、睡前三小时不要吃东西</span><span class="s2">. </span><span class="s1">会胖</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">90</span><span class="s1">、少喝奶茶</span><span class="s2">. </span><span class="s1">因为高热量</span><span class="s2">.</span><span class="s1">高油</span><span class="s2">.</span><span class="s1">没有营养价值可言</span><span class="s2">.</span><span class="s1">长期饮用</span><span class="s2">.</span><span class="s1">易罹患高血压</span><span class="s2">.</span><span class="s1">糖尿病</span><span class="s2">.</span><span class="s1">等疾病</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">91</span><span class="s1">、刚出炉的面包</span><span class="s2"> </span><span class="s1">不宜马上食用</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">92</span><span class="s1">、远离充电座</span><span class="s2">. </span><span class="s1">人体应远离</span><span class="s2">30</span><span class="s1">公分以上</span><span class="s2">.</span><span class="s1">切忌放在床边</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">93</span><span class="s1">、最佳睡眠时间是在</span><span class="s2"> </span><span class="s1">晚上</span><span class="s2">10</span><span class="s1">点</span><span class="s2">~</span><span class="s1">清晨</span><span class="s2">6</span><span class="s1">点</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">94</span><span class="s1">、酸梅具防止老化作用</span><span class="s2">, </span><span class="s1">青春永驻</span><span class="s2">;</span><span class="s1">肝火有毛病者宜多食用</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">95</span><span class="s1">、白天多喝水</span><span class="s2">. </span><span class="s1">晚上少喝水</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">96</span><span class="s1">、一天不要喝两杯以上的咖啡</span><span class="s2">. </span><span class="s1">喝太多易导致失眠</span><span class="s2">,</span><span class="s1">胃痛</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">97</span><span class="s1">、多油脂的食物少吃</span><span class="s2">.</span><span class="s1">因为得花</span><span class="s2">5~7</span><span class="s1">小时去消化</span><span class="s2">,</span><span class="s1">并使脑中血液集中到肠胃</span><span class="s2">.</span><span class="s1">易昏昏欲睡</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">98</span><span class="s1">、下午五点后</span><span class="s2">.</span><span class="s1">大餐少少吃</span><span class="s2">, </span><span class="s1">因为五点后身体不需那么多能量</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">99</span><span class="s1">、</span><span class="s2">10</span><span class="s1">种吃了会快乐的食物</span><span class="s2">: </span><span class="s1">深海鱼</span><span class="s2">,</span><span class="s1">香蕉</span><span class="s2">,</span><span class="s1">葡萄柚</span><span class="s2">,</span><span class="s1">全麦面包</span><span class="s2">,</span><span class="s1">菠菜</span><span class="s2">,</span><span class="s1">大蒜</span><span class="s2">,</span><span class="s1">南瓜</span><span class="s2">,</span><span class="s1">低</span><span class="s2"> </span><span class="s1">脂牛奶</span><span class="s2">,</span><span class="s1">鸡肉</span><span class="s2">,</span><span class="s1">樱桃</span></p>
<p class="p1"><span class="s1"></span><br></p>
<p class="p2"><span class="s1">　　</span><span class="s2">100</span><span class="s1">、掉发因素</span><span class="s2">: </span><span class="s1">熬夜、压力、烟酒、香鸡排、麻辣锅、油腻食物、调味过重的料理</span></p>
</body>
</html>
