<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initical-scale=1.0">
</head>
  <style type="text/css">
      *{
        margin:0px;
        padding: 0px;
      }
      .conter{
          font-family: Tahoma, Helvetica, Arial;
          background-color: rgb(240,240,240);
      }

    p{
      margin-left: 10px;
      margin-right: 10px;
    }
  p.title{
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
    color: red;
  }
  p.content{
    margin-top: 10px;
    font-size: 15px;
  }

 </style>
<body class="conter">
   <div>
       <div style="color: red;text-align: center;">
         <h2></h1>
       </div>

       <div style="margin-top: 30px;">
         <p class="title">措施一、少出门</p>
       </div>

       <div>
           <p class="content">
　　如果一定要出门，不要骑自行车，避开交通拥挤的高峰期以及开车多的路段，避免吸入更多的化学成分。也最好不好开私家车，多乘坐公共交通工具，为减少PM2.5做贡献。
           </p>
       </div>

        <div>
         <p class="title">措施二、少抽烟</p>
       </div>

       <div>
           <p class="content">
　　卷烟、雪茄和烟斗在不完全燃烧的情况下会产生很多属于PM2.5范畴的细颗粒物，烟草烟雾含有7000多种化合物，其中包括69种致癌物和172种有害物质，会严重危害抽烟者本身和吸入“二手烟”受众的身体健康，在这种灰霾天气下，更是“雪上加霜”。因此抽烟者近几日不论是外出还是呆在室内，应当尽量少抽烟。                  </p>
       </div>
       <div>
         <p class="title">措施三、少开窗</p>
       </div>

       <div>
           <p class="content">
　　专家表示在灰霾天气，尽量不要开窗。确实需要开窗透气的话，应尽量避开早晚雾霾高峰时段，可以将窗户打开一条缝通风，时间每次以半小时至一小时为宜。同时，家中以空调取暖的居民，要注意开窗透气，确保室内氧气充足。可以在自家阳台、露台、室内多种植绿植，绿萝、万年青、虎皮兰等绿色冠叶类植物，因其叶片较大，吸附能力相对较强。还可以使用空气净化器，市面上80%的空气净化器都以净化空气中的细微颗粒物为主，对PM2.5有很好的吸附效果，但在使用时要注意勤换过滤芯。
       </div>

         <div>
         <p class="title">措施四、选对口罩</p>
       </div>

       <div>
           <p class="content">

　　普通口罩对于2.5微米的空气颗粒基本起不到什么作用，要阻挡PM2.5需要医用N95口罩，其对0.3微米的颗粒能抵挡95%，在PM2.5爆表的天气也能起到一定效果。
    <br>
　　要购买正规合格、与自己脸型大小匹配的N95口罩，取下后要等到里面干燥后对折起来以防呼吸的潮气让口罩滋生细菌。佩戴的时间不宜过长，老年人和心血管疾病的人要避免佩戴，以免呼吸困难导致头昏。
       </div>

       <div>
         <p class="title">措施五、做好个人卫生</p>
       </div>

       <div>
           <p class="content">
　　出门后进入室内要及时洗脸、漱口、清理鼻腔，去掉身上所附带的污染残留物，以防止PM2.5对人体的危害。洗脸时最好用温水，利于洗掉脸上的颗粒。清理鼻腔时可以用干净棉签沾水反复清洗，或者反复用鼻子轻轻吸水并迅速擤鼻涕，同时要避免呛咳。除了面部清理外，身体裸露的部分也要清洗。
       </div>
      <div>
         <p class="title">措施六、清淡饮食</p>
       </div>

       <div>
           <p class="content">
　　少吃刺激性食物，多吃新鲜蔬菜和水果，可以补充各种维生素和无机盐，还能够润肺除燥、祛痰止咳、健脾补肾。还可以多吃点豆腐、牛奶等食品。除此之外，自制润喉茶也是不错的选择，可以解决嗓子干燥、咳嗽的问题，同时减少空气污染对肺部的危害。原料为：石斛、百合、麦冬各3克、大枣2枚，冰糖2粒。用法：加开水150毫升，泡服。一料可冲泡2-3次。
       </div>


   </div>
</body>
</html>
